.wrap{
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

header{
    width: 100%;
    padding: 30px 70px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    top: 0;
    left: 0;
    z-index: 100;
   

}

header .gnb ul{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

header a:last-child{
    display: block;
    font-family: 'Paperlogy';
    font-size: 22px;
    font-weight: 500;
    color: #fff;

}

.logo{
    width:59px;
    height: 61px;
    background: url("../images/logo.png");
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* banner */
.banner{
    width: 100%;
    height: 1080px;
    background-color: rgb(197, 197, 197);
    padding: 160px;
    box-sizing: border-box;
    display: flex; flex-direction: column;
    justify-content: end;
    background: url("../images/banner_bg.jpg");
    background-color: #000;
    position: relative;

}

.banner_darkmask{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    top: 0;
    left: 0;
    opacity: 0.7;
}

.banner_logo{
    width: 355px;
    height: 365px;
    background: url("../images/logo_large.png")no-repeat 50% 50% /cover;
    z-index: 40;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner .text_wrap{
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 40px;
    padding:160px;
    position: absolute;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    opacity: 0;
}

.banner .text_wrap .contents_title_large{
 color:#FF9C4B;
}
.banner .text_wrap .contents_article_medium{
    text-align: end; letter-spacing: -1px; line-height: 130%; font-weight: 400;
}

.banner .banner_title{
    z-index: 40;
    color: #fff;
}

/* project */
.project{
    display: flex; flex-wrap: wrap; flex-direction: column; padding: 200px 160px; box-sizing: border-box; gap: 200px; align-items: center;
    position: relative; overflow: hidden; background: #fff;
}

.project .section_title_wrap{z-index: 6;}

.project .contents{ width: 100%; display: flex; flex-wrap: wrap; flex-direction: column; gap: 100px; z-index: 3;}

.project .contents .card_list{
    display: flex; flex-wrap: wrap; gap: 20px; width: 100%;
}
.project .contents .card_list .side_card{
    display: flex; flex-wrap: wrap; flex-direction: column; justify-content: end; gap: 20px; width: calc( ( 100% / 4 ) - 40px);
}

.project .contents .card_list:first-child .side_card:last-child{
    justify-content: start;
}

.project .contents .card_list:last-child .side_card:nth-child(2){
    justify-content: start;
}

.project .contents .card_list .main_card{
    display: flex; flex-wrap: wrap; flex-direction: column; justify-content: end; gap: 20px; width: calc( ( 100% / 2 ) - 40px);
}

.project .contents .card_list .main_card .main_card_thum{
    height: 780px;
    border-radius: 15px;
    background: 50% 50% /cover no-repeat;
}
.project .contents .card_list .side_card .side_card_thum{
    background: 50% 50% /cover no-repeat;
   height: 389px;
    border-radius: 15px;
}

.project .contents .card_list:first-child .side_card:first-child .side_card_thum{
   background: url("../images/project_thum-0.jpg");
}
.project .contents .card_list:first-child .main_card:nth-child(2) .main_card_thum{
   background: url("../images/project_thum-1.jpg");
}
.project .contents .card_list:first-child .side_card:last-child .side_card_thum{
   background: url("../images/project_thum-2.jpg");
}
.project .contents .card_list:last-child .side_card:first-child .side_card_thum{
   background: url("../images/project_thum-3.jpg");
}
.project .contents .card_list:last-child .side_card:nth-child(2) .side_card_thum{
   background: url("../images/project_thum-4.jpg");
}
.project .contents .card_list:last-child .main_card:last-child .main_card_thum{
   background: url("../images/project_thum-5.jpg");
}


.project .card_info{
    display: flex; flex-wrap: wrap; flex-direction: column;
}
.project .card_info .contents_article_medium span{ font-size: 20px; color: #777; font-weight: 500;}

.project .bg_img:nth-child(4){ z-index: 1; position: absolute; top: 250px; left: -100px; width: 769px; height: 769px; background: rgba(111, 253, 142, 0.2); border-radius: 800px;}
.project .bg_img:last-child{ z-index: 1; position: absolute; bottom: 50px; right: -686px; width: 1400px; height: 1400px; background: rgba(151, 238, 255, 0.5); border-radius: 1400px;}


.project .bg_ellipse01{ width: 970px; height: 970px; border: 5px solid #6FFD8E; border-radius: 1000px; position: absolute; top: 523px; left: -205px;}
.project .bg_ellipse02{ width: 1300px; height: 1300px; border: 5px solid #6FFD8E; border-radius: 1000px; position: absolute; bottom: 410px; right: -670px;}

/* overview */
.overview{
    position: relative;
    width: 100%;
    height: 1044px;
    background: url("../images/overview_bg.jpg")no-repeat 50% 50% /cover;
    padding: 160px;
    display: flex; flex-direction: column; justify-content: space-between;
    box-sizing: border-box;
    color: #fff;
}

.overview img{
    position: absolute;
    top: 300px;
    right: 184px;
    width: 563px;
    height: 744px;
}
.overview .text_wrap{
    display: flex; flex-direction: column; gap: 38px;
}
.overview .text_wrap p:first-child{
   font-family: 'Paperlogy'; font-size: 72px; font-weight: 700; line-height: 120%; letter-spacing: -0.5px; color: #FF9C4B;
}
.overview .text_wrap p:first-child span{
    color: #fff;
}
.overview .article_wrap{
    display: flex; gap: 8px;
}

.overview .article_wrap .sign_img{
    background: url("../images/sign.png") 50% 50% /cover no-repeat;
}
.overview .contents_title_small{
    line-height: 200%;
}



/* collaborations */
.collaborations{
    width: 100%; display: flex; flex-direction: column; gap: 80px; padding: 120px 0; box-sizing: border-box; background: url("../images/collaborations_bg.jpg") 50% 50% /cover no-repeat;
}

.collaborations .title_wrap{
   width: 100%; display: flex; flex-wrap: wrap; justify-content: space-between; padding: 0 160px; box-sizing: border-box; align-items: center;
}
.collaborations .title_wrap > p:first-child{ font-family: 'Paperlogy'; font-size: 178px; font-weight: 700; line-height: 100%; }
.collaborations .text_wrap {display: flex; flex-direction: column; gap: 16px;}
.collaborations .text_wrap .contents_title_small{ letter-spacing: -1px; }
.collaborations .text_wrap .contents_article_medium{ letter-spacing: -1px;  color: #fff;}

.card_list_wrap{ width: 100%; display: flex; flex-direction: column; overflow: hidden; }
.card_list_wrap .swiper{width: 100%; padding: 60px 0; box-sizing: border-box; }
.card_list_wrap .swiper-wrapper{display: flex; transition-timing-function: linear; gap:88px}
.card_list_wrap .swiper-wrapper .swiper-slide { width: fit-content !important; display: flex; gap: 24px; color: #fff; align-items: start; }
.card_list_wrap .swiper-wrapper .swiper-slide img{ display: block; width: 75px; height: 75px; border-radius: 20px;}
.card_list_wrap .swiper-wrapper .swiper-slide p{display: flex; gap: 24px; color: #fff;align-items: center; }
.card_list_wrap .swiper-wrapper .swiper-slide p:last-child{display: flex; font-size: 14px; font-weight: 700; border: 2px solid #121212; line-height: 90%; color: #111; padding: 8px 20px ; box-sizing: border-box; border-radius: 50px;}





/* service */
.service{
    width: 100%;
    display: flex;
    flex-wrap: wrap;flex-direction: column;
    padding: 200px 160px;
    box-sizing: border-box;
    background: #121212;align-items: center;
}
.service .section_title_wrap{color: #fff; margin-bottom: 100px;}
.service .section_title_wrap hr{border: #fff;}
.service .card_list{
    display: flex; width: 100%; justify-content: space-between; gap: 50px; 
}
.service .card_list .card{
    display: flex; flex-direction: column; gap: 10px; width: calc( 100% / 3);
}
.service .card_list .card .card_head{
    display: flex; flex-direction: column; padding: 24px 36px;
    border-radius: 15px; background: #FF9C4B; color: #fff;
}
.service .card_list .card .card_head .title_wrap{
    display: flex; gap: 8px; align-items: end;
}
.service .card .title_wrap .contents_title_medium{
    line-height: 130%; letter-spacing: -1px;
}
.service .card .title_wrap .contents_title_xxsmall{
    line-height: 130%; letter-spacing: -1px; color: #FF6600;
}

.service .card_list .card .card_body{
    display: flex; flex-direction: column; padding: 36px 36px;
    border-radius: 15px; background: #fff; gap: 24px;
}
.service .card_list .card .card_body img{
    width: 100%;
    height: 285px;
    border-radius: 15px;
}

.service .card_list .card:nth-child(odd){
    margin-top: 170px;
}

.service .round_btn{
    border: 2px solid #FF9C4B;
    color: #FF9C4B;
}

.service .round_btn:hover{
 background: #FF9C4B;
 color: #fff;
}


/* representation */
.representation{
    width: 100%;
    position: relative;
    padding: 200px 160px;
    box-sizing: border-box;
    background: #121212;
}
.representation .contents{
    width: 100%;
    display: flex; flex-wrap: wrap; justify-content: space-between;
    box-sizing: border-box;
}

.representation .contents_left{ display: flex; height: auto; flex-direction: column; box-sizing: border-box; gap: 193px;}
.representation .contents_left .contents_title_medium{ color: #FF9C4B;}

.representation .contents .scroll-lock {
  overflow: hidden;
}

.representation .title_wrap{ display: flex; flex-direction: column; gap: 13px;}


.swiperA {
  width: 686px;
  height: 760px;
  overflow: hidden;
  display: flex; flex-wrap: wrap;
  justify-content:space-between;
}

.swiperA .swiper-slide {
  display: flex;
  justify-content: end;
  align-items: end;
  width: 686px;
  height: 760px; 
  opacity: 1;
  border-radius: 12px;
  overflow: hidden;
  padding: 40px 15px;
  box-sizing: border-box;
}
.swiperA .swiper-slide:first-child{ background: url("../images/representation_card-1.jpg") 50% 50% /cover no-repeat;}
.swiperA .swiper-slide:nth-child(2){ background: url("../images/representation_card-2.jpg") 50% 50% /cover no-repeat;}
.swiperA .swiper-slide:nth-child(3){ background: url("../images/representation_card-3.jpg") 50% 50% /cover no-repeat;}
.swiperA .swiper-slide:last-child{ background: url("../images/representation_card-4.jpg") 50% 50% /cover no-repeat;}

.swiperB{
  display: flex; flex-direction: column; width: 645px; height:188px;
}
.swiperB .swiper-slide{
  display: flex; flex-direction: column;
gap: 33px;
}

.swiperB .swiper-slide .title_wrap{
  width: 100%;
  display: flex; flex-wrap: wrap; flex-direction: column; gap: 16px;
  padding-bottom: 24px;
  box-sizing: border-box;
  border-bottom: #111 4px solid ;
}

.mySwiperB .swiper-wrapper {
  position: relative;
}

.mySwiperB .swiper-slide {
  opacity: 0;
  transition-property: opacity;
}

.mySwiperB .swiper-slide-active,
.mySwiperB .swiper-slide-duplicate-active {
  opacity: 1 !important;
}

.mySwiperB .swiper-slide-prev,
.mySwiperB .swiper-slide-next {
  opacity: 0;
}

.representation .bg_ellipse01{ width: 850px; height: 850px; border: 5px solid #6FFD8E; border-radius: 1000px; position: absolute; bottom: 86px; right: 202px;}


/* .history */
.history{width: 100%; display: flex; justify-content: space-between; padding: 200px 160px; box-sizing: border-box; color: #fff; background: #fff;}
.history .title_wrap{ display: flex; flex-direction: column; gap: 13px;}
.history .history_box_list{display: flex; flex-direction: column; width: 686px; height: 700px; justify-content: space-between;}
.history_box_list .box_title_wrap{display: flex; justify-content: space-between; border-bottom: 1px #777 solid; align-items: center; padding: 10px 0; box-sizing: border-box;}
.history_box_list .fa-plus{scale: 0.5; cursor: pointer;}
.history_box_list .info {display: none; padding: 16px; box-sizing: border-box; overflow: hidden; overflow-y: scroll;  height: calc(700px - 295px);}
.history_box_list .info li{ display: flex; flex-wrap: wrap;}
.history_box_list .info li p{ width: 200px;}
.history_box_list .info li p:last-child{ width: calc( 100% - 200px);}
.history_box_list .contents_article_small{font-weight: 300; line-height: 150%; height: 43px;}
.history_box_list .info::-webkit-scrollbar {
    width: 5px;
  }
.history_box_list .info::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 10px;

  }
.history_box_list .info::-webkit-scrollbar-track {
    background-color: #333;
    border-radius: 10px;
  }


  /* contact */
.Contact{ position: relative; width: 100%; padding: 56px 160px 160px 160px; box-sizing: border-box; display: flex; justify-content: space-between; background: #121212; align-items: end;}
.Contact p{ color: #fff; font-family: 'Paperlogy'; font-size: 130px; line-height: 150%; letter-spacing: 0px; font-weight: 600; }
.Contact p:first-child{z-index: 222; top: 56px; left: 160px; position: absolute; color: #00000000; -webkit-text-stroke-width: 4px;  -webkit-text-stroke-color: #fff;  }
.Contact p span{letter-spacing: -5px; }
.Contact > img{ position: absolute; top: -290px; left: -90px; transform: rotate(-25deg);}

/* footer */
footer{ display: flex; justify-content: space-between; padding: 32px 56px 100px 56px; box-sizing: border-box; color: #fff; background: #121212;}
.footer_info { display: flex; flex-direction: column; gap: 40px; box-sizing: border-box;}

.footer_util{ display: flex; flex-direction: column; justify-content: space-between;}
.footer_util .contact_wrap{display: flex; flex-direction: column; gap: 40px;}
.footer_util .sns{ display: flex; justify-content: space-between;}
.footer_util p{ text-align: end;}
