.banner_title{ font-family: 'Paperlogy'; font-size: 108px; font-weight: 300; }
.section_title{ font-family: 'Paperlogy'; font-size: 128px; line-height: 130%; font-weight: 700;}
.section_article{ font-size: 24px; line-height: 130%; font-weight: 600;}

.contents_title_xxlarge{ font-family: 'Paperlogy'; font-size: 72px; font-weight: 700;}
.contents_title_xlarge{ font-family: 'Paperlogy'; font-size: 50px; font-weight: 600;}
.contents_title_large{ font-family: 'Paperlogy'; font-size: 48px; font-weight: 700;}
.contents_title_medium{ font-family: 'Paperlogy'; font-size: 34px; font-weight: 700;}
.contents_title_small{ font-family: 'Paperlogy'; font-size: 32px; font-weight: 700;}
.contents_title_xsmall{ font-family: 'Paperlogy'; font-size: 24px; font-weight: 600;}
.contents_title_xxsmall{ font-family: 'Paperlogy'; font-size: 23px; font-weight: 700;}
.contents_title_xxxsmall{ font-family: 'Paperlogy'; font-size: 20px; font-weight: 700;}


.contents_article_xlarge{ font-size: 48px; font-weight: 500;}
.contents_article_large{ font-size: 32px; font-weight: 600;}
.contents_article_medium{ font-size: 24px; font-weight: 600;}
.contents_article_small{ font-size: 20px; font-weight: 600; line-height: 130%; letter-spacing: -1px;}
.contents_article_xsmall{ font-size: 16px; font-weight: 600;}











/* section_title */
.section_title_wrap{
   width: 100%; display: flex; flex-wrap: wrap; flex-direction: column; padding: 20px 0; box-sizing: border-box;
   text-align: center; align-items: center; 
}

.round_btn{
   width: fit-content;;
    padding: 24px 62px;
    border: 2px solid #000;
    color: #000;
    border-radius: 100px;
    transition: .3s;
}
.round_btn:hover{
 background: #000;
 color: #fff;
}
.round_btn p{
   font-size: 20px; line-height: 130%; font-weight: 600;
}